<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> <!-- url to where asset is hosted -->
    <title>Margaritaville</title>
</head>
<body>
    <header>
        <p>MARGARITA PLANNER</p>
    </header>
    <h1>Select an Option</h1>
    <form id='add' action="/ingredientcats/new">
        <input type="submit" value="Add a New Ingredient" /> 
    </form>
    <form id='see' action="/ingredientcats">
        <input type="submit" value="See All Ingredients" />  
    </form>   
    <form id='addM' action="/margaritas/new">
        <input type="submit" value="Add a Margarita Recipe" />  
    </form>   
    <form id='seeM' action="/margaritas">
        <input type="submit" value="See Margarita List" />  
    </form>   
</body>
</html>