        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaritas!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <p>MARGARITA PLANNER</p>
    </header>
    <h1>Add a New Margarita</h1>
    <form action="/margaritas" method="POST"> <!--to controller, then adds to db, then to marg index--> 
        <label>Margarita Name:
          <input type="string"  name="name">`
        </label>
      <div>
        <label>Fruit:
          <input type="string"  name="fruit1">
        </label>
        <label>Cups:
          <input type="string"  name="fruit1Cups">
        </label>
      </div>
      <div>
        <label>2nd Fruit:
          <input type="string"  name="fruit2">
        </label>
        <label>Cups:
          <input type="string"  name="fruit2Cups">
        </label>
      </div>
      <div>
        <label>3rd Fruit:
          <input type="string"  name="fruit3">
        </label>
        <label>Cups:
          <input type="string"  name="fruit3Cups">
        </label>
      </div>
      <div>
        <label>Herb or Spice:
          <input type="string"  name="herbsSpices">
        </label>
        <label>Tsp:
          <input type="string"  name="herbsSpicesTsp">
        </label>
      </div> 
      <div>
        <label>Tequila:
          <select name="tequila">
            <option value="" disabled selected>Choose a Tequila</option>
            <option value="Blanco">Blanco</option>
            <option value="Jovan">Jovan</option>
            <option value="Reposado">Respado</option>
            <option value="A単ejo">A単ejo</option>
            <option value="Extra A単ejo">Extra A単ejo</option>
          </select>
        </label>
        <label>oz:
          <input type="string"  name="tequilaTsb">
      </div>
      <div>
        <label>Juices:
          <input type="string"  name="juices">
        </label>
        <label>Oz:
          <input type="string"  name="juicesOz">
        </label>
      </div> 
      <div>
        <label>Liqueur:
          <input type="string"  name="liqueur">
        </label>
        <label>Oz:
          <input type="string"  name="liqueurOz">
        </label>
      </div>
      <div>
        <label>Sweetener:
          <input type="string"  name="sweetener">
        </label>
        <label>Tsp:
          <input type="string"  name="sweetenerTsp">
        </label>
      </div>
      <div>
        <label>Garnish:
          <input type="string"  name="garnish">
        </label>
      </div>
      <div>
        <label>Salt:
          <select name="salt">
            <option value="" disabled selected>Choose a Style</option>
            <option value="mixture">Dash in Mixture</option>
            <option value="rim">On the Rim</option>
            <option value="None">None</option>
          </select>
        </label>
      </div>
      <div>
        <label>Ice:
          <select name="ice">
            <option value="" disabled selected>Choose a Style</option>
            <option value="Blended">Blended</option>
            <option value="Rocks">Rocks</option>
            <option value="None">None</option>
          </select>
        </label>
        <input type="submit" value="Add Margarita Recipe">
    </div>
  </form>
</body>
</html>