<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaritas!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <p>MARGARITA PLANNER</p>
    </header>
    <h1>Add Your Ingredients from Each Catagory</h1>
    <form action="/margaritas" method="POST"> <!--to controller, then adds to db-->
        <label>Margarita Name:
          <input type="string"  name="name">
        </label>
          <input type="submit" value="Add Margarita">
    </form>
</body>
</html>